<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrar Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrar Cliente</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Formulario reactivo -->
  <form [formGroup]="clienteForm" (ngSubmit)="registrarCliente()">

    <ion-item>
      <ion-input 
        formControlName="nombre"
        placeholder="Ingrese nombre o razón social" 
        type="text">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="clienteForm.get('nombre')?.touched && clienteForm.get('nombre')?.invalid">
      El nombre es requerido (mínimo 3 caracteres)
    </ion-note>

    <ion-item>
      <ion-input 
        formControlName="telefono"
        placeholder="Ingrese número de teléfono" 
        type="tel"
        maxlength="9">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="clienteForm.get('telefono')?.touched && clienteForm.get('telefono')?.invalid">
      Ingrese un teléfono válido (9 dígitos)
    </ion-note>

    <ion-item>
      <ion-input 
        formControlName="dni"
        placeholder="Ingrese DNI" 
        type="text"
        maxlength="8">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="clienteForm.get('dni')?.touched && clienteForm.get('dni')?.invalid">
      DNI debe tener 8 dígitos
    </ion-note>

    <ion-item>
      <ion-input 
        formControlName="ruc"
        placeholder="Ingrese RUC" 
        type="text"
        maxlength="11">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="clienteForm.get('ruc')?.touched && clienteForm.get('ruc')?.invalid">
      RUC debe tener 11 dígitos
    </ion-note>

    <ion-item>
      <ion-input 
        formControlName="direccion"
        placeholder="Ingrese dirección" 
        type="text">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="clienteForm.get('direccion')?.touched && clienteForm.get('direccion')?.invalid">
      La dirección es requerida
    </ion-note>

    <ion-item>
      <ion-input 
        formControlName="correo"
        placeholder="Correo" 
        type="email">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="clienteForm.get('correo')?.touched && clienteForm.get('correo')?.invalid">
      Ingrese un correo válido
    </ion-note>

    <ion-item>

       <ion-grid>

          <ion-row>

           <ion-col>
              <ion-button 
                   type="submit" 
                  expand="block"
                  [disabled]="clienteForm.invalid">
        REGISTRAR
      </ion-button>


           </ion-col>

           <ion-col>
              <ion-button 
         
               expand="block"
              (click)="cancelar()"
               >
                CANCELAR
              </ion-button>

            
           </ion-col>



          </ion-row>





       </ion-grid>




      

      
    </ion-item>

  </form>

</ion-content>
