ion-content {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  --padding-top: 0 !important;
  --padding-bottom: 0 !important;
  --offset-top: 0 !important;
  --offset-bottom: 0 !important;
  background-color: #216d8b;
  padding: 20px;
  overflow: hidden; /* evita scroll inesperado */
}

form {
  background: rgb(207, 166, 91);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}