<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>actualizar-cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">actualizar-cliente</ion-title>
    </ion-toolbar>
  </ion-header>

<form>

  <ion-item>  <ion-input  placeholder="Nombre o razon social" type="text"></ion-input>    </ion-item>
  <ion-item>  <ion-input  placeholder="número de teléfono" type="text"></ion-input>    </ion-item>
  <ion-item>  <ion-input  placeholder="DNI" type="text"></ion-input>    </ion-item>
  <ion-item>  <ion-input  placeholder="RUC" type="text"></ion-input>    </ion-item> 
  <ion-item>  <ion-input  placeholder="Dirección" type="text"></ion-input>    </ion-item>
  <ion-item>  <ion-input  placeholder="Correo" type="text"></ion-input>    </ion-item>
  <ion-item>  <ion-button type="submit" > ACTUALIZAR</ion-button>    </ion-item>


  

  </form>


</ion-content>
