<ion-header [translucent]="true">
  <ion-toolbar>

     <ion-button (click)="volverMenu()">
    <ion-icon slot="icon-only" name="arrow-back"></ion-icon> 
  </ion-button>


    <ion-title>LISTA DE PRODUCTOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">LISTA DE PRODUCTOS</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button  (click)="registrarproducto()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


<!--<ion-list>


<ion-item><ion-card>  prod1      </ion-card>   <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button color="danger" >
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons> </ion-item>
<ion-item><ion-card>  prod2     </ion-card>  <ion-buttons slot="end">
      <ion-button color="primary" >
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button color="danger" >
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons> </ion-item>










</ion-list>-->



<ion-grid>
<ion-row>
<ion-col  size="12" size-md="6" size-lg="4" *ngFor="let produ of listaproductos; let i=index" >

<ion-card        >
  <ion-card-header>
    <ion-card-title>{{produ.nombre}}</ion-card-title>
    <ion-card-subtitle>{{produ.descripcion}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    
    <ion-grid>
       <ion-row>

         <ion-col> <img [src]="produ.imagen_url" alt="Descripción de la imagen" class="imagenproducto">   
          </ion-col>

         <ion-col>          

          



         </ion-col>

       </ion-row>



    </ion-grid>
  </ion-card-content>

  <ion-grid>
   <ion-row>
     <ion-col>
        <ion-button 
              expand="block" 
              color="secondary" 
               
              
            >
              <ion-icon slot="start" name="create-outline"></ion-icon>
              Actualizar
            </ion-button>

     </ion-col>

     <ion-col>
          <ion-button 
              expand="block" 
              color="danger" 
              
              
            >
              <ion-icon slot="start" name="trash-outline"></ion-icon>
              Eliminar
            </ion-button>

      
     </ion-col>
   </ion-row>
  </ion-grid>
 
</ion-card>



</ion-col>
</ion-row>
</ion-grid>










</ion-content>
