<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="volverMenu()">
    <ion-icon slot="icon-only" name="arrow-back"></ion-icon> 
  </ion-button>

    <ion-title>LISTA DE CLIENTES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  fixed-slot-placement="before">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  


  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button  (click)="IrregistrarCliente()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
  <ion-list>
    <ion-item *ngFor="let clien of listaclientes; let i=index">
    <ion-label>{{ clien.nombre }}</ion-label>


    <ion-buttons slot="end">
      <ion-button color="primary" (click)="editarCliente(clien.id)">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button color="danger" (click)="eliminarCliente(clien.id)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  </ion-list>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
