<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>REGISTRAR PRODUCTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registrar-producto</ion-title>
    </ion-toolbar>
  </ion-header>

<form>

<ion-list>

<ion-item><ion-input type="text" placeholder="nombre"></ion-input></ion-item>
<ion-item>
  <ion-select>

<ion-select-option>S</ion-select-option>
<ion-select-option>L</ion-select-option>
<ion-select-option>XL</ion-select-option>

</ion-select>
</ion-item>





</ion-list>












</form>









</ion-content>
