




<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="volverMenu()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    <ion-title>VISUALIZAR PEDIDOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Barra de búsqueda -->
  <ion-searchbar 
    [(ngModel)]="terminoBusqueda"
    (ionInput)="buscarPedidos()"
    placeholder="Buscar por cliente o producto"
    animated>
  </ion-searchbar>

  <!-- Filtros por estado -->
  <div class="filtros-container">
    <ion-button 
       [class.activo]="filtroestado==='en proceso'"
       (click)="filtrarPorEstado('en proceso')"
      class="btn-proceso activo">
      EN PROCESO
    </ion-button>
    
    <ion-button 
      [class.activo]="filtroestado==='cancelado'"
      (click)="filtrarPorEstado('cancelado')"
      class="btn-cancelado">
      CANCELADO
    </ion-button>
    
    <ion-button 
      [class.activo]="filtroestado==='entregado'"
      (click)="filtrarPorEstado('entregado')"
      class="btn-recibido">
      ENTREGADO
    </ion-button>

    <ion-button 
      [class.activo]="filtroestado==='todos'"
      (click)="filtrarPorEstado('todos')"
      fill="outline">
      TODOS
    </ion-button>
  </div>

  <!-- Lista de pedidos de ejemplo -->
  <ion-list>
        <ion-card *ngFor="let pedido of pedidosFiltrados" class="pedido-card">
      <ion-card-header>
        <div class="pedido-header">
          <div>
            <ion-card-title>{{pedido.cliente?.nombre}}</ion-card-title>
            <ion-card-subtitle>
              <ion-icon name="calendar-outline"></ion-icon>
              {{pedido.fechaorigen | date:'dd/MM/yyyy HH:mm' }}
            </ion-card-subtitle>
          </div>
          <ion-badge [color]="getColorEstado(pedido.estado)"
          class="estado-badge">
          {{pedido.estado.toUpperCase()}}
          </ion-badge>
          </div>
      </ion-card-header>

      <ion-card-content>

      <div class="productos-lista">
        <div *ngFor="let item of pedido.item" class="producto-item">
          <ion-icon name="cube-outline"></ion-icon>
          <span class="producto-nombre">{{item.nombreproducto}}</span>
          <span class="producto-cantidad">{{item.cantidad}}</span>
          <span class="producto-precio">{{item.subtotal.toFixed(2)}} </span>
        </div>
      </div>

      <div class="total-pedido">
        <strong>Total: S/ {{pedido.total.toFixed(2)}}</strong>
      </div>

      <div *ngIf="pedido.notas" class="notas">
        <ion-icon name="document-text-outline"></ion-icon>
        <span>{{pedido.notas}}</span>
      </div>

      <div class="acciones-pedido">
        <ion-button
        size="small"
        fill="outline"
        color="warning"
        [disabled]="desactivarBotonCambioEstado(pedido.estado)"
        (click)="cambiarEstado(pedido)">
        <ion-icon slot="start" name="sync-outline"></ion-icon>
          Cambiar Estado
        </ion-button>

        <ion-button
        size="small"
        fille="clear"
        color="danger"
        (click)="eliminarPedidos(pedido.id)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </div>
    
      </ion-card-content>

    </ion-card>



    <ion-card *ngIf="pedidosFiltrados.length===0" class="no-pedidos">
      <ion-card-content>
        <ion-icon name="document-outline" class="icono-grande"></ion-icon>
        <p>NO HAY PEDIDOS QUE MOSTRAR</p>

      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>
