<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  fixed-slot-placement="before">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">VENTANA DE PRUEBA</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--<div id="container">
    <strong>HOLA COMPAÑERO</strong>
    <p>VAMOS A EMPEZAR CON Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>-->



  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let clien of cliente; let i=index" class="item-cliente">
      <ion-label>
        <h2>{{ clien }}</h2>
        <p>CLIENTE VIP</p>
      </ion-label>
    


    <ion-buttons slot="end">
      <ion-button color="primary" (click)="editarCliente(i)">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button color="danger" (click)="eliminarCliente(i)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  </ion-list>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>




