#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  --background: rgb(90, 68, 36);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.item-cliente{

 --background:#e2e4eb;
 --border-radius:10px;
margin-bottom: 10px;

   h2{
    font-weight: bold;
    color:#3880ff;
    font-size: 1.2rem;

   }
   p{
     color:#999;
     font-style: italic;
   }
   ion-buttons{
    ion-button{


      &:hover{

        opacity:0.7;
      }
    }






   }

}